@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
  background-color: #282c34;
  font-family: Lato;
}

[contenteditable] {
  outline: 0px solid transparent;
}
.App {
  margin-bottom: 32px;
  button {
    background-color: #fff4cf;
    color: #231F20;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 8px;
    border: none;
    &:hover {
      background-color: #dbdbdb;
    }
    &:active {
      background-color: #b3b3b3;
      box-shadow: inset 2px 2px 2px rgba($color: black, $alpha: 0.5);
      transform: translate(1px, 1px);
    }
  }
  input[type=text] {
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 8px;
    border: none;
  }
  .tooltip {
    display: flex;
    align-items: center;
    column-gap: 8px;
    background-color: #fff;
    padding: 8px;
    border-radius: 8px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: fit-content;
    margin: auto;
    box-shadow: 2px 2px 2px rgba($color: #000000, $alpha: 0.5);
  }

}
.downloadBar {
  margin: 16px auto;
  width: fit-content;
}
.page {
  background-color: white;
  width: 900px;
  height: 1165px;
  overflow: hidden;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  flex-direction: column;

  header {
    .top {
      display: flex;
      justify-content: space-between;
      font-weight: 700;
      color:#bebebe;
    }
    .logo {
      display: block;
      width: 100%;
      border-top: 3px solid #231F20;
      border-bottom: 10px solid #231F20;
      padding: 10px 0;
    }
  }
  article {
    padding: 10px 0;
    flex-shrink: 1;
    overflow: hidden;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    .title {
      position: relative;
    }
    h1 {
      font-size: 1em;
      padding: 0;
      margin: 0;
      color: #BE1E2D;
      font-weight: 900;
      text-transform: uppercase;
    }
    h2 {
      padding: 0;
      margin: -10px 0 10px 0;
      font-size: 20px;
      font-weight: 300;
    }

    .text {
      columns: 3;
      column-gap: 20px;
      column-fill: auto;
      text-align: justify;
      font-size: 16px;
      line-height: 22px;
      overflow: hidden;
      .date {
        font-style: italic;
        &::after {
          content: ' - ';
        }
      }
    }
  }
  footer {
    align-self: flex-end;
    width: 100%;
    .footer-image .-floating {
      top:unset;
      bottom: 5px;
    }
    img {
      width: 100%;
    }
  }
}